////
//// Typography
////

//$body-font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;
//$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
//$root-font-size: 16px;         // Base font-size for rems
//$body-line-height: 1.4;
//$content-line-height: 1.5;
//$body-heading-line-height: 1.15;

////
//// Colors
////

//$white: #fff;

//$grey-dk-000: #959396;
//$grey-dk-100: #5c5962;
//$grey-dk-200: #44434d;
//$grey-dk-250: #302d36;
//$grey-dk-300: #27262b;

//$grey-lt-000: #f5f6fa;
//$grey-lt-100: #eeebee;
//$grey-lt-200: #ecebed;
//$grey-lt-300: #e6e1e8;

//$purple-000: #7253ed;
//$purple-100: #5e41d0;
//$purple-200: #4e26af;
//$purple-300: #381885;

//$blue-000: #2c84fa;
//$blue-100: #2869e6;
//$blue-200: #264caf;
//$blue-300: #183385;

//$green-000: #41d693;
//$green-100: #11b584;
//$green-200: #009c7b;
//$green-300: #026e57;

//$yellow-000: #ffeb82;
//$yellow-100: #fadf50;
//$yellow-200: #f7d12e;
//$yellow-300: #e7af06;

//$red-000: #f77e7e;
//$red-100: #f96e65;
//$red-200: #e94c4c;
//$red-300: #dd2e2e;
//
$cnam-red: #c1002a;
$cnam-warmGrey4C: #cfc8c0;
$cnam-warmGrey8C: #aa9f97;
$cnam-warmGrey11C: #857761;

//$body-background-color: $white;
//$sidebar-color: $grey-lt-000;
//$sidebar-color: $cnam-warmGrey4C;
//$search-background-color: $white;
//$table-background-color: $white;
//$code-background-color: $grey-lt-000;
$code-background-color: $cnam-warmGrey4C;

//$body-text-color: $grey-dk-100;
//$body-heading-color: $grey-dk-300;
$body-heading-color: $cnam-warmGrey11C;
//$search-result-preview-color: $grey-dk-000;
//$nav-child-link-color: $grey-dk-100;
//$link-color: $purple-000;
$link-color: $cnam-red;
//$btn-primary-color: $purple-100;
//$base-button-color: #f7f7f7;

////
//// Spacing
////

//$spacing-unit: 1rem; // 1rem == 16px

//$spacers: (
//sp-0: 0,
//sp-1: $spacing-unit * 0.25,
//sp-2: $spacing-unit * 0.5,
//sp-3: $spacing-unit * 0.75,
//sp-4: $spacing-unit,
//sp-5: $spacing-unit * 1.5,
//sp-6: $spacing-unit * 2,
//sp-7: $spacing-unit * 2.5,
//sp-8: $spacing-unit * 3,
//sp-9: $spacing-unit * 3.5,
//sp-10: $spacing-unit * 4
//);

//$sp-1: map-get($spacers, sp-1); // 0.25 rem == 4px
//$sp-2: map-get($spacers, sp-2); // 0.5  rem == 8px
//$sp-3: map-get($spacers, sp-3); // 0.75 rem == 12px
//$sp-4: map-get($spacers, sp-4); // 1    rem == 16px
//$sp-5: map-get($spacers, sp-5); // 1.5  rem == 24px
//$sp-6: map-get($spacers, sp-6); // 2    rem == 32px
//$sp-7: map-get($spacers, sp-7); // 2.5  rem == 40px
//$sp-8: map-get($spacers, sp-8); // 3    rem == 48px
//$sp-9: map-get($spacers, sp-9); // 4    rem == 48px
//$sp-10: map-get($spacers, sp-10); // 4.5  rem == 48px

////
//// Borders
////

//$border: 1px solid;
//$border-radius: 4px;
//$border-color: $grey-lt-100;

////
//// Grid system
////

//$gutter-spacing: $sp-6;
//$gutter-spacing-sm: $sp-4;
//$nav-width: 264px;
//$nav-width-md: 248px;
//$content-width: 800px;
//$header-height: 60px;
//$search-results-width: 500px;

////
//// Media queries in pixels
////

//$media-queries: (
//xs: 320px,
//sm: 500px,
//md: $content-width,
//lg: $content-width + $nav-width,
//xl: 1400px
//);

.mediumimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.smallimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}
.centre-important {
  text-align: center;
  color: $cnam-red;
  font-size: 24px;
  padding-bottom: 14px;
  /*border:1px solid red;*/
}
.toc-2columns{
 column-count: 2; 
}
.toc-3columns{
 column-count: 3; 
}

//
// <details> tag
//
details {
    border-radius: 10px;
    padding: 0px 8px;
    margin-bottom: 15px;
}
details[open] {
    background: lighten($cnam-warmGrey4C, 14%);
    padding: 0px 8px 8px 8px;
}
summary {
    margin: 0px 0px 8px 0px;
    outline:none;
}
summary:hover {
    text-decoration: underline;
}
details summary {
    color: $cnam-red;
}

/* Tooltip container */
.tooltip {
  border-bottom: 1px dotted black; 
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color: black;
  color: #fff;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  //width: 120px;
  //bottom: 100%;
  //left: 50%;
  //margin-left: -60px; [> Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip
 * container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
