@import "../custom/cnam-colors.scss";
$body-background-color: $cnam-warmGrey11C;
$sidebar-color: $cnam-warmGrey8C;
$border-color: $cnam-red;

$body-text-color: $cnam-warmGrey4C;
$body-heading-color: $cnam-warmGrey8C;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: $cnam-red;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
